.my-thin-col {
    flex: 0 0 4px;
  }
  .text2 {
    display: inline-block;
    vertical-align: middle;
  }
  ion-item {
    padding: 0;
    }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 400px;
    background: rgba(114, 186, 94, 0.05);
  }
  
  .stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .ion-col-fixed{
    size:"8";
  }
  .bgcolor {
    background:#F5F5F6;
  }
  .footer {
  width: 100%;
  left: 0;
  right: 0;
 // position: fixed;
  bottom: 0;
  z-index: 1;
  color: rgb(7, 0, 0);
}
  
  .ion-col {
    //border: 1px solid #e4e4e7;
   // size: 6;
    background:#F5F5F6;
    text-align: center;
  }
  .ion-col2 {
    //border: 1px solid #e4e4e7;
   // size: 6;
    background:#F5F5F6;
    text-align: right;
  }


  .button-size{
    width: 80%;
  }
  .bcolor{
    color: gray;
  }
  .addIcon {
    width: 40px;
    height: 50px;
    padding-left: 0;
    }
     .icons {
      display: inline-block;
      //  font-size: 35px;
        vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-left: 9px;
        } 
        .icons2 {
          display: inline-block;
          //  font-size: 35px;
            vertical-align: middle;
                width: 35px;
                height: 35px;
                margin-left: 9px;
            } 
    
    .text-align-middle {
    position: relative;
    transform: translateY(10px);
    }
.card
{
box-shadow:none !important
}
    
ion-card-content {
  // padding-top: 6px;
  .icons {
    display: inline-block;
    //  font-size: 35px;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      margin-left: 10px;
  } 

  ion-row {
      margin-top: 3px;
  }
}
.item-inner{
  border-style: unset !important;
  }